* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
    font-family: arial;
    text-align: center;
    color: darkslategrey;
}

.evenSize {
    height: 80px;
}

div {
    display: flex; 
    align-items: center;
    margin: 20px;
    padding: 20px;
    justify-content: space-between;
    
}

#row1 {
    background-color: blueviolet;
    
}

#row2 {
    background-color: black;
    justify-content: space-evenly;
    
}


